html,body{
    width: 100%;
    padding: 0;
    margin: 0;
}

.container-fluid,
.navbar{
    width: 100%;
    padding: 0 !important;
    margin:0 !important;
}

/* layout css */
.landing-wrapper{}

.landing-wrapper .landing-block{
    width: 100%;
    height: 100vh;
}

.landing-wrapper .back{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
	background-color: #000000;
  padding: 0;
}

.landing-wrapper .data-title{
	position: absolute;
	top: 1%;
	left: 50%;
	transform: translate(-50%,-5%);
	display: flex;
	text-align:center;
}

.landing-wrapper .data-title .data-title-content{
    width: 100%;
    padding: 7.5%;
    background-color: transparent;
		white-space: nowrap;
}

.landing-wrapper .data-pic1{
  position: absolute;
  top:  30%;
  left: 20%;
  transform: translate(-20%,-30%);
}

.landing-wrapper .data-pic2{
  position: absolute;
  top:  30%;
  left: 40%;
  transform: translate(-40%,-30%);
}

.landing-wrapper .data-pic3{
  position: absolute;
  top:  30%;
  left: 60%;
  transform: translate(-60%,-30%);
}

.landing-wrapper .data-pic4{
  position: absolute;
  top:  30%;
  left: 80%;
  transform: translate(-80%,-30%);
}

.landing-wrapper .data-description1{
  position: absolute;
  top:  45%;
  left: 20%;
  transform: translate(-20%,-45%);
}

.landing-wrapper .data-description2{
  position: absolute;
  top:  45%;
  left: 40%;
  transform: translate(-40%,-45%);
}

.landing-wrapper .data-description3{
  position: absolute;
  top:  45%;
  left: 60%;
  transform: translate(-60%,-45%);
}

.landing-wrapper .data-description4{
  position: absolute;
  top:  45%;
  left: 80%;
  transform: translate(-80%,-45%);
}

.landing-wrapper .data-title .data-title-content h2{
	font-size: 4rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #FFFFFF
}

.landing-wrapper .download-button{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-60%);
}

.landing-wrapper .cleaned-data{}

.landing-wrapper .cleaned-data .title{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-70%);
}

.landing-wrapper .cleaned-data .introduction{
  position: absolute;
  top: 80%;
  left: 50%;
  width: 70%;
  height: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

.landing-wrapper .cleaned-data .pic1{
  position: absolute;
  top: 90%;
  left: 25%;
  transform: translate(-25%, 0);
}


.landing-wrapper .cleaned-data .pic2{
  position: absolute;
  top: 90%;
  left: 75%;
  transform: translate(-75%, 0);
}

/* ratings */

.landing-wrapper .ratings{}

.landing-wrapper .ratings .title{
  position: absolute;
  top: 180%;
  left: 50%;
  transform: translate(-50%, 0);
}

.landing-wrapper .ratings .introduction{
  position: absolute;
  top: 190%;
  left: 50%;
  width: 70%;
  height: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

.landing-wrapper .ratings .pic1{
  position: absolute;
  top: 210%;
  left: 15%;
  transform: translate(-15%, 0);
}

.landing-wrapper .ratings .pic2{
  position: absolute;
  top: 210%;
  left: 85%;
  transform: translate(-85%, 0);
}

/* word cloud */
.landing-wrapper .wordcloud{}

.landing-wrapper .wordcloud .title{
  position: absolute;
  top: 270%;
  left: 50%;
  transform: translate(-50%, 0);
}

.landing-wrapper .wordcloud .pic1{
  position: absolute;
  top: 280%;
  left: 25%;
  transform: translate(-25%,0);
}

.landing-wrapper .wordcloud .pic2{
  position: absolute;
  top: 280%;
  left: 75%;
  transform: translate(-75%,0);
}

/* Attributes */

.landing-wrapper .Attributes{}

.landing-wrapper .Attributes .title{
  position: absolute;
  top: 340%;
  left: 50%;
  transform: translate(-50%,0);
}

.landing-wrapper .Attributes .introduction{
  position: absolute;
  top: 345%;
  left: 50%;
  transform: translate(-50%, -345%);
}

.landing-wrapper .Attributes .music{
  position: absolute;
  top: 343%;
  left: 50%;
  transform: translate(-50%, -343%);
}

.landing-wrapper .Attributes .music_pic1{
  position: absolute;
  top: 340%;
  left: 10%;
}

.landing-wrapper .Attributes .music_pic2{
  position: absolute;
  top: 340%;
  left: 60%;
}

.landing-wrapper .Attributes .music_pic3{
  position: absolute;
  top: 390%;
  left: 10%;
}

.landing-wrapper .Attributes .music_pic4{
  position: absolute;
  top: 390%;
  left: 60%;
}

.landing-wrapper .Attributes .music_pic5{
  position: absolute;
  top: 440%;
  left: 10%;
}

.landing-wrapper .Attributes .music_pic6{
  position: absolute;
  top: 440%;
  left: 60%;
}


/* Setting the font and color of text*/

.landing-wrapper .data-description1 p{
  font-size: 1.5rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #FFFFFF
}

.landing-wrapper .data-description2 p{
  font-size: 1.5rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #FFFFFF
}
.landing-wrapper .data-description3 p{
  font-size: 1.5rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #FFFFFF
}
.landing-wrapper .data-description4 p{
  font-size: 1.5rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #FFFFFF
}

.landing-wrapper .cleaned-data .title h2{
  font-size: 4rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #FFFFFF
}

.landing-wrapper .cleaned-data .introduction p{
  font-size: 2rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #FFFFFF
}

.landing-wrapper .ratings .title h2{
  font-size: 3rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #FFFFFF
}

.landing-wrapper .ratings .introduction p{
  font-size: 2rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #FFFFFF
}

.landing-wrapper .wordcloud .title h2{
  font-size: 3rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #FFFFFF
}

.landing-wrapper .wordcloud .title h2{
  font-size: 3rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #FFFFFF
}

.landing-wrapper .Attributes .title h2{
  font-size: 3rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #FFFFFF
}

.landing-wrapper .Attributes .introduction p{
  font-size: 2rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #FFFFFF
}

.landing-wrapper .Attributes .music h3{
  font-size:2rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #FFFFFF
}
