html,body{
    width: 100%;
    padding: 0;
    margin: 0;
}

.container-fluid,
.navbar{
    width: 100%;
    padding: 0 !important;
    margin:0 !important;
}

/* layout css */
.landing-wrapper{}

.landing-wrapper .exploration-back{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
	background-color: #000000;
  padding: 0;
}

/* Linear regression */

.landing-wrapper .lm{}

.landing-wrapper .lm .title{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}

.landing-wrapper .lm .introduction{
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  width: 60%;
}

.landing-wrapper .lm .result1{
  position: absolute;
  top: 260px;
  left: 20%;
  transform: translate(-20%, 0);
  width: 450px;
  height: 350px;
}

.landing-wrapper .lm .result2{
  position: absolute;
  top: 260px;
  left: 80%;
  transform: translate(-80%, 0);
  width: 450px;
  height: 350px;
}


/* TF-IDF */

.landing-wrapper .TF-IDF{}

.landing-wrapper .TF-IDF .title{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}

.landing-wrapper .TF-IDF .introduction{
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  width: 60%;
}

.landing-wrapper .TF-IDF .result{
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translate(-32%, 0);
  width: 1200px;
  height: 400px;
}

/* score model */

.landing-wrapper .score{}

  .landing-wrapper .score .title{
    position: absolute;
    top: 50px;
    left: 10px;
  }

  .landing-wrapper .score .state-selection{
    position: absolute;
    top: 120px;
    left: 10px;
    width: 200px;
    height: 120px;
    border-style: outset;
    border-color: gray;
    border-radius: 5px;
  }

  .landing-wrapper .score .topic-selection{
    position: absolute;
    top: 250px;
    left: 10px;
    width: 200px;
    height: 400px;
    border-radius: 5px;
    border-color: gray;
    border-style: outset;
  }

  .landing-wrapper .score .weight-plot{
    position: absolute;
    top: 120px;
    left: 250px;
    width: 750px;
    height: 530px;
    border-radius: 5px;
    border-color: gray;
    border-style: outset;
  }
/* Set the font for those characters */

.landing-wrapper .TF-IDF .title h2{
  font-size: 3rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #FFFFFF
}

.landing-wrapper .TF-IDF .introduction h4{
  font-size: 2rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #FFFFFF
}

.landing-wrapper .lm .title h2{
  font-size: 3rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #FFFFFF
}

.landing-wrapper .lm .introduction h4{
  font-size: 2rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #FFFFFF
}

.landing-wrapper .score .title h2{
  font-size: 3rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #FFFFFF
}
